.table-wrapper {
    margin-top: 80px;
    width: 100%;
}

.Create {
    margin-right: 5%;
}

table {
    width: 90%;
    margin-top: 10px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

.mat-column-id {
    word-wrap: break-word !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.mat-column-bank {
    word-wrap: break-word !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.mat-column-investmentHolderName {
    word-wrap: break-word !important;
    flex: 0 0 19% !important;
    width: 19% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.mat-column-depositAmount {
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.mat-column-maturityAmount {
    word-wrap: break-word !important;
    flex: 0 0 13% !important;
    width: 13% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.mat-column-email {
    flex: 0 0 5% !important;
    width: 5% !important;
    text-align: justify;
}

.mat-column-sms {
    flex: 0 0 5% !important;
    width: 5% !important;
    text-align: justify;
}

.mat-column-edit {
    flex: 0 0 5% !important;
    width: 5% !important;
    text-align: justify;
}

.mat-column-delete {
    flex: 0 0 5% !important;
    width: 5% !important;
    text-align: justify;
}

th {
    font-size: 15px;
    font-weight: bolder;
    background-color: #DFDFDC;
    color: #073b66;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    width: 50px;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.container {
    min-height: 100%;
    width: 100%;
    border: 2px solid #073b66;
    padding-left: 5%;
}

.header {
    color: #073b66;
    font-weight: bold;
}

.paginator {
    width: 90%;
    font-size: large;
}