.box {
    position: relative;
    top: 0;
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    color: #073b66;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-height: 80%;
    overflow-x: scroll;
}

.mat-dialog-title {
    text-align: center;
    color: #073b66;
}

.btn-submit {
    width: 20%;
    /* margin-right: 40%; */
    margin-left: 25%;
}

.btn-cancel {
    width: 20%;
    margin-right: 20%;
    margin-left: 10%;
}

.example-full-field {
    width: 100%;
    margin-right: 5%;
}

.example-half-field {
    width: 45%;
    margin-right: 5%;
}

.dialog {
    margin: 10px;
}